.controls {
  position: absolute;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  z-index: 1;
}
.controls * {
  font-size: inherit;
  box-shadow:
    0 0.2rem 0.2rem #0002,
    inset 0 2px 1px #0001,
    inset 0 -2px 1px #fff3,
    inset 0 0 32px #fff8;
  background-color: #fff5;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}
.controls button {
  height: 2rem;
  padding: 0 0.8rem;
  color: #111;
  border-radius: 0.5rem;
  cursor: pointer;
}
.controls button:disabled {
  color: #aaa;
}
.controls input[type=checkbox] {
  appearance: none;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}
.controls input[type=checkbox]:checked {
  background-color: #07f;
}
.controls input[type=number] {
  width: 3rem;
  height: 2rem;
  padding: 0 0 0 0.8rem;
  border-radius: 0.5rem;
}
.controls input[type=range] {
  box-shadow: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
#stats{
  position:absolute;
  top:0;
  right:0;
  z-index: 2;
}